<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<table border="1">
		<thead>
			<tr>
				<th (click)="Ordenar(1)">Id</th>
				<th (click)="Ordenar(2)">Título</th>
				<th (click)="Ordenar(3)">Minutos</th>
				<th (click)="Ordenar(4)">Seleccionar</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tarea of tareas">
				<td>{{ tarea.id }}</td>
				<td>{{ tarea.titulo }}</td>
				<td>{{ tarea.minutos }} minutos</td>
				<td><input type="checkbox" (change)="seleccionarTarea(tarea.id, $event)"></td>
			</tr>
		</tbody>
	</table>
	<h3>Agregar nueva tarea</h3>
	<input type="text" placeholder="Titulo" #tituloInput>
	<input type="number" placeholder="Duracion" #minutosInput>
	<button (click)="addTarea(tituloInput.value,minutosInput.value)">Agregar</button>
	<h3>Eliminar tareas selecionadas</h3>
	<button (click)="deleteTarea()">Eliminar</button>

</div>